<h1>StaticPages#index</h1>
<div data-controller="hello">
    <input id="color" name="color" type="checkbox" data-action='hello#color' />
    <label for="color">Highlight Instructions</label>

    <div>
        <p data-hello-target="output">put in your Flickr ID below to see your recent photos</p>
        <p>Examples:</p>
        <ul>
            <li>131139857@N05</li>
            <li>jacoboson</li>
            <li>199702536@N02</li>
        </ul>
    </div>
    <button data-action='hello#hide' data-hello-target='hide'>Hide Instructions</button>
    <button data-action='hello#show' data-hello-target='show' hidden>Show Instructions</button>
</div>


<%= form_with url: root_path, method: :get do |form| %>
    <%= form.label :user_id, "Flickr ID" %>
    <%= form.text_field :user_id %>
    <%= form.submit "Search" %>
<% end %>

<%= Rails.application.credentials.dig(:api_key) %>
<%= Rails.application.credentials.dig(:secret_key) %>

 <% @photos.each do |photo| %>
    <div>
        <h3><%= photo.title %></h3>
        <% photo_url = "https://farm#{photo.farm}.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
        <img src="<%= photo_url %>" alt="<%= photo.title %>">
    </div>
<% end %>



